<mat-card style="height: 86%;">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. A0001" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="bookingId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking # </th>
        <td mat-cell *matCellDef="let row"> {{row.bookingId}} </td>
      </ng-container>

      <ng-container matColumnDef="hotelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Name </th>
        <td mat-cell *matCellDef="let row"> {{row.hotelName}} </td>
      </ng-container>

      <ng-container matColumnDef="roomName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Room Name </th>
        <td mat-cell *matCellDef="let row"> {{row.roomName}} </td>
      </ng-container>

      <ng-container matColumnDef="checkIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check-In </th>
        <td mat-cell *matCellDef="let row"> {{row.checkIn}} </td>
      </ng-container>

      <ng-container matColumnDef="checkOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check-Out </th>
        <td mat-cell *matCellDef="let row"> {{row.checkOut}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.price}} </td>
      </ng-container>

      <ng-container matColumnDef="bookingStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
        <td mat-cell *matCellDef="let row"> {{row.bookingStatus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-select" (click)="selectBooking(row)"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>

</mat-card>
